@import 'header__burger'
.header
	position: absolute
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	background-color: $secondary_color
	max-width: 500px
	max-width: 100%
	min-height: 100%
	// transition: all 0.3s ease
// @media screen and (max-width: 960px)
.header
	transition: all .3s ease-in-out 0s
.header.active
	left: -100%
// ========= Header Top ============
.header__top
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	padding: 15px
.header__top_link
	display: flex
	align-items: center
	// justify-content: space-between
.header__top_descr
	margin-left: 15px
	max-width: 210px
	transition: all 0.3s ease
	&:hover
		color: $text_color
		text-shadow: 0 0 5px $text_color, 0 0 20px $text_color
// ========= Header Top ======== //
// ========= Header Menu ============
.header__nav
	flex-grow: 1
	padding: 30px
	width: 100%
.header__nav_list
	height: 100%
	display: flex
	flex-direction: column
	justify-content: space-between
.header__nav_item
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
// ========= Header Menu ============ //
// ========= Header Body ============
.header__social
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	padding: 15px
.header__social_link
	margin-right: 5px
	&:last-child
		margin-right: 0
.header__social_img
	border-radius: 50%
	box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8)
	&:hover
		box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8)
.header__social_icon,
.header__social_icon_hover
	width: 80px
	height: 80px
// .header__social_icon_hover
// 	display: none
.header__social_icon
	transition: all 0.3s ease
	&:hover
		background-color: $secondary_color
		fill: $text_color
