main.main
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Bonolit/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/2_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/spec/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/3_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/komfort__lend/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/4_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Panz_Wow/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/5_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Panz/" target="blank") ПЕРЕЙТИ