main.main
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Bonolit/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/2_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/spec/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/3_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/komfort__lend/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/4_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Panz_Wow/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/5_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Panz/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Site_GS/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Site_ST/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Stairs/" target="blank") ПЕРЕЙТИ
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Heating/" target="blank") ПЕРЕЙТИ
	section#stack
		br
		h2 Технологии:
		br
		ul
			li - Адаптивная, кроссбраузерная верстка в соответствии с макетом
			li - Анимация
			li - HTML5
			li - CSS3
			li - JavaScript
			li - JQuery
			li - Gulp / Sass + Pug
			li - Git
			li - BEM
			li - Figma, Photoshop, Avacode
			br