main.main
	secttion.section_1
		.section__body
			img.section__body_img(src="img/1_bg.png", alt="Скриншот сайта из портфолио")
			a.section__body_link.btn(href="https://onekrag.github.io/Bonolit/" target="blank") ПЕРЕЙТИ