extends ../layout/layout.pug
block vars
	- var title = 'Dreammaker for U';
block header
	include ../includes/header.pug
block content
	include ../includes/content.pug
block footer
	include ../includes/footer.pug     
              
